<form #formRef="ngForm" (ngSubmit)="onSave(formRef.value)">
  <app-card>
    <div>
      <div class="form-group">
        <label>Name:</label>
        <input
          type="text"
          class="form-control"
          [ngModel]="playlist.name"
          name="name"
          #modelRef="ngModel"
        />
      </div>

      <p>Remaining length {{ 170 - modelRef.value?.length }}</p>

      <div class="form-group">
        <label>Favorite:</label>
        <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
      </div>

      <div class="form-group">
        <label>Color:</label>
        <input type="color" [ngModel]="playlist.color" name="color" />
      </div>
    </div>

    <ng-container ngProjectAs="footer">
      <input type="button" value="Cancel" (click)="onCancel()" />

      <input type="submit" value="Save" />
    </ng-container>
  </app-card>
</form>
