<img [src]="album.images[0].url" class="card-img-top" />

<div class="card-body">
  <h5 class="card-title">

    
      {{ album.name }}

    <!-- {{ album.name | shorten: 5 : '???' | uppercase }} -->

    <!-- 
    <input type="range" min="5" max="25" (input)="size = $event.target.value"> -->
  </h5>
</div>

<!-- {{ fav | yesno }} -->
