<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form 
        [query]="query$ | async" 
        (queryChange)="search($event)">
    </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    {{ message }}
    
    <ng-container *ngIf="results$ | async as albums">

      <p>Found {{ albums.length }} results</p>

      <app-search-results [results]="albums">
      </app-search-results>
      
    </ng-container>

  </div>
</div>
