<!-- .card>.card-body -->

<div class="card">
  <div class="card-body">
    
    <h5 class="card-title">
      <ng-content select=".title, .placki">
      </ng-content>
    </h5>

    <ng-content></ng-content>
    
  </div>
  <div class="card-footer" #ref>
    <ng-content select="footer"></ng-content>
  </div>

  <!-- {{ref.children.length}} -->
</div>

<style>
  .card-footer:empty{
    display: none;
  }
</style>