<!-- 
{{ startDate | date:'dd-MM-yyyy' }}

{{ 12.99 | currency:'PLN' }} -->

<!-- {{ random() }} -->

<div class="card-group">

  <div app-album-card
   [album]="result"
   *ngFor="let result of results">
  </div>


</div>
