<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists$ | async"
      [selected]="selected$ | async"
      (selectedChange)="select($event)"
    >
    </app-items-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
