<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" 
    [routerLinkActiveOptions]="{ exact:true }"
    #routerLinkRef="routerLinkActive"
    routerLinkActive="active placki" routerLink="/">MusicApp</a>

    <!-- {{ routerLinkRef.isActive }} -->

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/music">Search Music</a>
        </li>

        <li class="nav-item" routerLinkActive="active placki">
          <a class="nav-link"  routerLink="/playlists">Playlists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
