<app-card>
    <ng-container class="title">
      {{playlist.name}}
    </ng-container>


    <dl [title]="playlist.name" [attr.data-playlist-id]="playlist.id">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Favorite:</dt>
      <dd>{{ playlist.favorite ? "Yes" : "No" }}</dd>

      <dt>Color:</dt>

      <dd
        [ngStyle]="{
          color: playlist.color,
          border: '1px solid ' + playlist.color,
          backgroundColor: playlist.color
        }"
      >
        {{ playlist.color }}
      </dd>
    </dl>


    <ng-container ngProjectAs="footer">
      <input type="button" value="Edit" 
      (click)="onEdit()" />      
    </ng-container>
</app-card>