<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />

  <p *ngIf="queryForm.pending">Please wait... </p>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">
      <p *ngIf="field.hasError('required')">
        Field is required
      </p>

      <p *ngIf="field.getError('minlength') as error">
        Field has to have {{ error.requiredLength }} letters
      </p>

      <p *ngIf="field.getError('censor') as error">
        Field cannot include  "{{ error.badword }}"
      </p>
    </ng-container>


  </ng-container>

<!-- 
  <ul>
      <li *ngFor="let error of queryForm.get('query').errors | keyvalue">
        {{error | json }}
      </li>
    </ul> -->

<!-- https://developer.mozilla.org/pl/docs/Web/JavaScript/Guide/Iterators_and_Generators -->

  <!-- <app-form-messages [field]="queryForm.get('query')">
      <p *ngIf="queryForm.get('query').getError('minlength') as error">
          Field has to have {{ error.requiredLength }} letters
      </p>
  </app-form-messages> -->

  <!-- <div class="input-group-append">
    <button (click)="search(queryForm.get('query')!.value)" class="btn btn-outline-secondary">
      Search
    </button>
  </div> -->
</div>
