.form-group .ng-invalid.ng-touched,
.form-group .ng-invalid.ng-dirty{
  border:2px solid red;
}

.form-group .ng-invalid ~ p{
  color:red;
}

/* Show only first error if many present */
.errors > p {
  display: none;
}
.errors > p:first-child {
  display: inherit;
}
